.cardsContainer {
    display: flex;
    flex-direction: row;
}

.dogCard {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.308);
    /* background-color: white; */
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
    transition: 
        transform 200ms linear;
}

.dogCard:hover {
    transform: scale(1.02) translateZ(0);
}

.dogImage {
    position: relative;
    width: 300px;
    height: 230px;
    /* margin-bottom: 35px; */
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.id {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
    color: black
}

.name {
    height: 66px;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-size: 26px;
    color: #ea9c3b;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.temperaments {
    height: 51px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 0px;
    margin-bottom: 10px;  
    color: #cfc4c0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
}

.weightsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    background-color: #ea9c3b;
    /* background-color: #011C40; */
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.weightMinContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #BD7C2F;
    width: 100px;
    
}

.weightMaxContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #BD7C2F;
    width: 100px;
    
}


.weightAvgContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.stat {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 24px;
    margin-bottom: 0px;
}

.statDescription {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 10px;
}

sup {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    bottom: 4px; 
    font-size: 45%;
    margin-left: 2px;
}

