.nav {
    width: 100%;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    height: fit-content;
    gap: 5px;
  }
  
  .page-number {
    list-style: none;
    width: 40px;
    padding: 12px 0 12px 0;
    border: 1px solid #ddd;
  }
  
  .page-number a {
    color: #000;
    text-decoration: none;
    
  }
  
  .page-number:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  .page-number.active a {
    background-color: #4CAF50;
    color: #fff;
  }
  
  .page-number.disabled a {
    opacity: 0.5;
    pointer-events: none;
  }