.landingPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('https://i0.wp.com/masteringportraitphotography.com/wp-content/uploads/2019/11/180816H281_0187-2-2.jpg?fit=2500%2C1667&ssl=1');
    background-repeat: no-repeat;
    /* background-position: 50% 10%; */
    background-size: cover;
    background-position: 50%;
}

.welcome {
    width: fit-content;
    height: fit-content;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    margin-top: 13%;
    margin-left: 22%;
}

.h2 {
    color: white;
    padding-bottom: 0%;
    margin: 0%;
    font-size: 4rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
}

.h1 {
    color: #ea9c3b;
    padding-top: 0;
    margin: 0%;
    font-size: 4rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.landingButton {
    color: black;
    /* background-color: #e68d48; */
    background-color: #ea9c3b;
    font-size: 1rem;
    margin-top: 15px;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: .5rem;
    border-color: transparent;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif;
    transition: 
        background-color 200ms linear,
        transform 200ms linear;
}

.landingButton:hover {
    background-color: white;
    transform: scale(1.1);
    transition: all .3s
}

.landingImage {
    position: absolute;
    height: 800px;
    right: 15%;
    bottom: 0%;
    
}
